Repository surabayajs/surabayajs.org: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,json,md}": ["prettier --write"],
  "src/**/**.{css,graphql}": ["prettier --write"],
  "src/**/*.{js,jsx,ts,tsx}": ["eslint --fix"]
}

feat: fetch markdown file
  src/pages/coc.tsx
Due: eslint --fix

feat: try to intergrate react markdown with chakra ui
  src/utils/renderers.tsx
Due: eslint --fix

feat(lean): add learn page
  src/components/learning-card/learning-card.tsx
  src/pages/learn/index.tsx
Due: eslint --fix

feat: update .eslintrc
  .eslintrc.js
Due: prettier --write

feat: update settings.json
  .vscode/settings.json
Due: prettier --write

feat: remove header from coc
  src/pages/coc.tsx
Due: eslint --fix

feat: update renderers for react-markdown
  src/utils/renderers.tsx
Due: eslint --fix

feat(learn): add new routes
  src/routes.js
Due: prettier --write, eslint --fix

chore(types): update declarations
  env.d.ts
  next-env.d.ts
Due: none

feat(config): rework graphql config
  codegen.yml
  graphql.config.js
  graphql.config.yml
Due: prettier --write

refactor: update and merge devtools config
  .eslintignore
  .eslintrc.js
  .husky/pre-commit
  .huskyrc.json
  .lintstagedrc.json
  .prettierrc.json
  package.json
Due: prettier --write

chore: update gitignore
  .gitignore
Due: none

chore: update nvmrc
  .nvmrc
Due: none

chore(types): update and simplify tsconfig
  tsconfig.json
Due: prettier --write

chore(config): remove preact
  next.config.js
  package.json
Due: prettier --write

chore(config): remove experimentals
  next.config.js
Due: prettier --write

chore(config): remove cors
  next.config.js
Due: prettier --write

chore(config): simplify next config
  next.config.js
Due: prettier --write

chore(vscode): update settings
  .vscode/settings.json
Due: prettier --write

chore(graphql): codegen
  schema.graphql
  src/generated/graphql.ts
Due: eslint --fix

refactor(scripts): rework using cjs and mjs
  package.json
  scripts/build.js
  scripts/build.mjs
  scripts/copy-public-assets.js
  scripts/copy-public-assets.mjs
  scripts/generate-favicons.js
  scripts/generate-favicons.mjs
Due: prettier --write

refactor(deps): update and rebuild lockfile
  package.json
  yarn.lock
Due: prettier --write

chore(npm): update scripts
  package.json
Due: prettier --write

feat(pages): use generated favicons html
  src/generated/favicon-meta-tags.jsx
  src/pages/_document.tsx
Due: eslint --fix

chore(pages)): remove unused getInitialProps
  src/pages/_document.tsx
Due: eslint --fix

chore: lint
  src/components/color-mode-button/color-mode-button.tsx
  src/components/drawer/drawer.tsx
  src/components/email-tooltip/email-tooltip.tsx
  src/components/event-card/event-card.tsx
  src/components/footer/footer.tsx
  src/components/locale-button/locale-button.tsx
  src/components/logo/horizontal-logo.tsx
  src/components/navbar/navbar-desktop.tsx
  src/components/navbar/navbar-mobile.tsx
  src/components/navbar/navbar.tsx
  src/components/sponsor-card/sponsor-card.tsx
  src/hooks/app.ts
  src/i18n.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/coc.tsx
  src/pages/events/index.tsx
  src/pages/index.tsx
  src/theme.ts
  src/utils/renderers.tsx
Due: eslint --fix

chore: bump license
  LICENSE
Due: none

feat(deps): add fontsource based fonts
  package.json
  yarn.lock
Due: prettier --write

feat(pages): use fontsource fonts
  src/pages/_app.tsx
  src/pages/_document.tsx
Due: eslint --fix

chore(config): type hint next config
  next.config.js
Due: prettier --write

fix(ui): add optional chaining in navbar mobile
  src/components/navbar/navbar-mobile.tsx
Due: eslint --fix

refactor: use env based locale
  .env.example
  .gitignore
  env.d.ts
  next.config.js
  src/components/drawer/drawer.tsx
  src/components/footer/footer.tsx
  src/components/locale-button/locale-button.tsx
  src/components/navbar/navbar-desktop.tsx
  src/components/navbar/navbar-mobile.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/coc.tsx
  src/pages/events/index.tsx
  src/pages/index.tsx
  src/routes.js
Due: prettier --write, eslint --fix

feat(learning resources): add learning resources card
  src/components/learning-card/index.tsx
  src/components/learning-card/learning-card.tsx
  src/pages/learn/index.tsx
Due: eslint --fix

feat (page): add learn page
  src/i18n.tsx
  src/pages/learn/index.tsx
Due: eslint --fix

chore: remove vercel traces
  .gitignore
  README.md
  src/components/footer/footer.tsx
  src/components/logo/index.ts
  src/components/logo/vercel-logo.svg
  src/components/logo/vercel-logo.tsx
Due: prettier --write, eslint --fix

feat: add eventbrite url in social section of the footer
  src/config/site.js
Due: prettier --write, eslint --fix

feat: add eventbrite url in social section of the footer (#16)
  src/config/site.js
Due: prettier --write, eslint --fix
